
// Primary pallette
$ft_primaryPink: #fff1e0 ;
$ft_linkBlueText: #2e6e9e ;
$ft_linkBlueFill: #4781a9 ;
$ft_claretText: #9b164f ;
$ft_claretFill: #9e2f50 ;
$ft_skyline: #e3dfca ;
$ft_orange: #d66d06 ;
$ft_black: #000 ;
$ft_white: #fff ;

// Greys
$ft_warmGrey1: #a7a59b ;
$ft_warmGrey2: #74736c ;
$ft_coolGrey1: #777777 ;
$ft_coolGrey2: #dfded8 ;
$ft_darkGrey: #43423e ;

// Tints
$ft_tint1: #f6e9d8 ;
$ft_tint2: #e9decf ;
$ft_tint3: #cec6b9 ; // Text only

// "Colours"
$ft_red: #cc0000 ;
$ft_green: #458b00 ;

