#hover-box {
  position: absolute ;
  padding: 8px 12px ;
  display: none ;
  left: -5000px ;
  top: 0 ;

  @include pointer-events(none) ;
  @include transparentDarkGreyBackground ;
  @include border-radius(3px) ;

  &> h3 {
    font: normal 16px BentonSans ;
    margin: 0 ;
  }
}
