html, body, #cont {
  height: 100% ;
  margin: 0 ;
  padding: 0 ;
}

#cont {
  width: 972px ;
  margin: 0 auto ;
  position: relative ;
}

  #ft-header, #ft-footer {
    padding: 80px 0 ;
    background: $ft-tint2 ;
  }

  #main {
    margin: 20px 0 ;
  }

    #presets {
      background: #9a9 ;
      padding: 100px 0 ;
    }

    #map-cont {
      // background: #fdd ;
      border-left: 1px solid $ft_tint2 ;
      border-right: 1px solid $ft_tint2 ;
      position: relative ;
      height: $map-height ;
      overflow: hidden ;
    }

    #area-stats {
      background: #aac ;
      padding: 120px 0 ;
    }
