html, body, #cont {
  height: 100% ;
  margin: 0 ;
  padding: 0 ;
}

#cont {
  width: 972px ;
  margin: 0 auto ;
  position: relative ;
}

  #ft-header, #ft-footer {
    padding: 80px 0 ;
    background: $ft-tint2 ;
  }

  #main {
    margin: 20px 0 ;
  }

    #presets {
      background: #9a9 ;
      padding: 100px 0 ;
    }

    #map-cont {
      background: #fdd ;
      position: relative ;
    }

      #map {
      }
      
      #postcode-search,
      #control-panel {
        width: 220px ;
        @include border-radius(5px) ;
        background-color: transparentize(#666, 0.2) ;
        position: absolute ;
        left: 20px ;
        padding: 20px ;
      }

      #postcode-search {
        top: 20px ;
        height: 20px ;
      }
      #control-panel {
        top: 100px ;
      }


      #histogram-cont {
      }
        #histogram {
          height: 100px ;
          background-color: #fdd ;
        }

    #area-stats {
      background: #aac ;
    }
