#map {
}

  .la {
    stroke: $ft_primaryPink ;
    &:hover {
      stroke: #000 ;
    }
  }

#postcode-search,
#control-panel {
  width: 220px ;
  @include border-radius(5px) ;
  background-color: transparentize(#666, 0.2) ;
  position: absolute ;
  left: 15px ;
  padding: 20px ;
  color: #eee ;
}

#postcode-search {
  top: 20px ;
  height: 20px ;
}

#control-panel {
  top: 100px ;

  h3 {
    font-size: 12px ;
    font-weight: normal ;
  }
}
  #cut-types-dropdown {
  }

  #measurement-options {
    &> div {
      margin-top: 4px ;
      &> label {
        &> input {
          margin-right: 5px ;
        }

        &> span {
          font-size: 12px ;
        }
      }
    }
  }


#histogram-cont {
}
  #histogram {
    height: 160px ;
    background-color: #555 ;
  }