#map {
  background-color: $ft_tint1;
}

  // .la {
  // }

#zoom-control {
  position: absolute ;
  left: 15px ;
  top: 15px ;
  // width: 30px;
  padding: 8px;

  @include border-radius(5px) ;
  @include transparentDarkGreyBackground ;
  @include user-select(none) ;

}
  #increase-zoom,
  #decrease-zoom {
    background-color: transparentize(#ccc, 0.1);
    width: 20px ;
    height: 20px ;
    
    color: #333 ;
    font: bold 17px georgia;
    text-align: center ;
    @include border-radius(2px) ;
    cursor: pointer ;


    &:hover {
      background-color: #ddd ;
    }
    &:active {
      background-color: #bbb ;
    }
  }
  #increase-zoom {
    margin-bottom: 5px ;
  }

#mag-glass{
	position: absolute ;
	top:100px;
	z-index:100;
	left: 30px;
}

#postcode-form,
#control-panel {
  width: 240px ;
  @include border-radius(5px) ;
  @include transparentDarkGreyBackground ;
  position: absolute ;
  left: 15px ;
  padding: 20px ;
}

#postcode-form {
  width: 210px ;
  top: 90px ;
  // height: 38px ;
  font-size:20px;
  letter-spacing:1px;
  padding: 6px 20px 6px 50px;
  background-image: url('images/mag-glass.png');
  background-position: 15px 8px;
  background-repeat: no-repeat;
}
  #postcode-input {
    width: 170px ;
    background-color: rgba(0,0,0,0.5);
    font-family: BentonSans ;
    font-style: italic ;
    font-weight: 100 !important;
    font-size: 18px ;
    border-width: 0 ;
    color: #bbb ;
    padding: 5px 10px 5px 10px ;
    @include border-radius(4px);

    color: white ;
  }
  #postcode-hint {
    display: none ;
    margin: 4px 0 0 0 ;
    font-family: BentonSans ;
    // font-style: italic ;
    // font-weight: 100 ;
    font-size: 11px ;
    color: #a33 ;
  }

#control-panel {
  top: 164px ;
	
  h3 {
    font-size: 12px ;
    font-weight: normal ;
  }
}
  #cut-types-dropdown {
  }

  #measurement-options {
    &> div {
      margin-top: 4px ;
      &> label {

        &> input {
          margin-right: 18px ;
        }

        &> span {
          font-size: 14px ;
        }
      }
    }
  }

  input[type="radio"] {
    visibility:hidden;
  }
  .unselected{
    background: url("images/inactive.png") no-repeat;
  }
  .selected{
    background: url("images/active.png")no-repeat;
  }

#filter-title{
	padding:8px 0px 6px 0px;
	font-size:12px;
}

#histogram-cont {
}
  #histogram {
    height: 160px ;
    background-color: #555 ;
  }
