@mixin ft-link {
  color: $ft_linkBlueText ;
  &:hover { color: $ft_black ; }
  cursor: pointer ;
}

@mixin ft-link-reverse {
  color: $ft_black;
  &:hover { color: $ft_linkBlueText ; }
  cursor: pointer ;
}

@mixin pointer-events($type: none) {
  $type: unquote($type);
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

@mixin transparentDarkGreyBackground {
  color: #fff;
  background-color: transparentize($ft_darkGrey, 0.3) ;
}
